.blog-post-article {
  width: 720px;
  padding-top: 90px;
  padding-bottom: 90px;
  margin: auto;
}

code {
  padding: 0px 4px 2px 4px;
  border-radius: 5px;
}

article > h2, article > h3 {
	font-size: 48px;
	padding-top: 48px;
}

 div.language-markup > h3 {
	font-size: 30px;
	padding-top: 36px;
}

article > div > p {
	padding: 12px;
	line-height: 2.2;
	font-size: 18px;
	font-weight: 400;
}

p > a {
	text-decoration: underline;
  }

article > div > ul {
  margin-left: 48px;
}

li {
  padding-top: 6px;
  font-size: 18px;
}

@media only screen and (max-width: 720px) {
  .blog-post-article {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
}
